extends layout

block content
	#container 
		#p5Container
	.loading
		.mdl-spinner.mdl-js-spinner.is-active
		.message loading...

	script(src="javascripts/sketch.js" crossorigin="anonymous")
	script(src="javascripts/launcher.js" crossorigin="anonymous")