extends layout

block content
	#dateContainer
	#container
		#p5Container
			//- .title hello, world!
			
	.loading
		.mdl-spinner.mdl-js-spinner.is-active
		.message loading...

	script(src="javascripts/sketch.js" crossorigin="anonymous")
	script(src="javascripts/launcher.js" crossorigin="anonymous")